@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('./assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}